@charset "utf-8";
/* CSS Document */
&nbsp;/* 防止用户自定义背景颜色对网页的影响，添加让用户可以自定义字体 */
body{ padding:0px; margin:0px; font-family:Arial, Helvetica, sans-serif; background:url(../img/indexby02.jpg);}
img{ border:none;}
ul,li{ list-style:none; padding:0px; margin:0px;}
a{ text-decoration:none;}
p{ padding:0px; margin:0px;}
